body{
    margin-left: 20px;
    margin-top: 10px;
    background-color: azure;
    }

h2 {
    font-size: 3rem;
}


.contPopUp{
    
    width: 2500px;
    height: 500px;
    padding: 40px;
    color: rgb(0, 0, 0);
}

.button{
    width: auto;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

.paragrafo{
    font-size: 2rem;
}

.contPopUp2{
    
    width: 2500;
    height: 500px;
    padding: 40px;
    color: rgb(0, 0, 0);
}
