.contPopUp{
    background-color: blue;
    width: 150px;
    height: 50px;
    padding: 40px;
    color: beige;
}

.button{
    width: auto;
    color: white;
    background-color: blue;
}

.paragrafo{
    font-size: 2rem;
}